.container {
  width: 607px;
  height: 800px;
  margin: 20px auto;
  border-radius: 12px;
  background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
  padding: 40px 20px 20px;
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
}

.weather-image {
  margin-top: 12px;
}

.weather-condition {
  color: #fff;
  text-transform: capitalize;
  font-size: 26px;
}

.weather-temp {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 80px;
  font-weight: 400;
}

.weather-location {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  gap: 40px;
}

.data-container {
  color: #fff;
  display: flex;
  justify-content: center;
}

.element {
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.data {
  font-size: 34px;
  font-weight: 400;
}

.text {
  font-size: 20px;
}

.icon {
  margin-top: 10px;
}

.aux-text {
  color: #fff;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    height: 100vh;
    margin: 0;
    border-radius: 0;
  }

  .weather-container {
    height: 70vh;
  }

  .weather-image {
    width: 160px;
  }

  .weather-condition {
    color: #fff;
    text-transform: capitalize;
    font-size: 22px;
  }

  .weather-temp {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 60px;
    font-weight: 400;
  }

  .weather-location {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    gap: 40px;
  }

  .data-container {
    color: #fff;
    display: flex;
    justify-content: center;
  }

  .element {
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
  }

  .data {
    font-size: 24px;
    font-weight: 400;
  }

  .text {
    font-size: 20px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}
